<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>filter.ManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/staff</url-pattern>
        <url-pattern>/createstaff</url-pattern>
        <url-pattern>/deletestaff</url-pattern>
        <url-pattern>/promotestaff</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/adminvieworder</url-pattern>
        <!--<url-pattern>/update_perfume</url-pattern>-->
        <!-- <url-pattern>/changeorderstatus</url-pattern>-->
        <url-pattern>/admindashboard/StaffController</url-pattern>
        <!--<url-pattern>/changeorderstatus</url-pattern>-->
        <url-pattern>/admin</url-pattern>
        <url-pattern>/staff</url-pattern>
        <url-pattern>/createstaff</url-pattern>
        <url-pattern>/deletestaff</url-pattern>
        <url-pattern>/promotestaff</url-pattern>
        <url-pattern>/salesearchorder</url-pattern>
        <url-pattern>/adminsearchkeyword</url-pattern>
        <url-pattern>/Sales/addbrand</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/adminlogout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/removeorder</url-pattern>
        <url-pattern>/addcart</url-pattern>
        <!--<url-pattern>/checkout</url-pattern>-->
        <url-pattern>/order</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/viewcart</url-pattern>
        <url-pattern>/changepassword</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/removecartdetail</url-pattern>
        <url-pattern>/updatecartdetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>controller.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDetailServlet</servlet-name>
        <servlet-class>controller.ItemDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchKeywordServlet</servlet-name>
        <servlet-class>controller.SearchKeywordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartDetailServlet</servlet-name>
        <servlet-class>controller.RemoveCartDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFilterServlet</servlet-name>
        <servlet-class>controller.ProductFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartDetailServlet</servlet-name>
        <servlet-class>controller.UpdateCartDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>controller.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>controller.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffServlet</servlet-name>
        <servlet-class>controller.CreateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>controller.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromoteStaffServlet</servlet-name>
        <servlet-class>controller.PromoteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchKeywordServlet</servlet-name>
        <servlet-class>controller.AdminSearchKeywordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewOrderServlet</servlet-name>
        <servlet-class>controller.AdminViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePerfumeServlet</servlet-name>
        <servlet-class>controller.UpdatePerfumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOrderStatusServlet</servlet-name>
        <servlet-class>controller.ChangeOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrderServlet</servlet-name>
        <servlet-class>controller.RemoveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrder</servlet-name>
        <servlet-class>controller.SearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPerfumeServlet</servlet-name>
        <servlet-class>controller.AddPerfumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrandServlet</servlet-name>
        <servlet-class>controller.AddBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin2Servlet</servlet-name>
        <servlet-class>controller.Admin2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingDashboardServlet</servlet-name>
        <servlet-class>controller.Marketing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackList</servlet-name>
        <servlet-class>controller.FeedBackList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetails</servlet-name>
        <servlet-class>controller.FeedbackDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogListServlet</servlet-name>
        <servlet-class>controller.blogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBlogServlet</servlet-name>
        <servlet-class>controller.addBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBlogServlet</servlet-name>
        <servlet-class>controller.updateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogDetailsServlet</servlet-name>
        <servlet-class>controller.blogDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hideBlogServlet</servlet-name>
        <servlet-class>controller.hideBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unhideBlogServlet</servlet-name>
        <servlet-class>controller.unhideBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBlogServlet</servlet-name>
        <servlet-class>controller.deleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerListServlet</servlet-name>
        <servlet-class>controller.customerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBlogServlet</servlet-name>
        <servlet-class>controller.searchBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postListServlet</servlet-name>
        <servlet-class>controller.postListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postDetailsServlet</servlet-name>
        <servlet-class>controller.postDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderInformationsServlet</servlet-name>
        <servlet-class>controller.orderInformationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerDetailsServlet</servlet-name>
        <servlet-class>controller.customerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCustomerServlet</servlet-name>
        <servlet-class>controller.updateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesDashboardServlet</servlet-name>
        <servlet-class>controller.SalesDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterOrderServlet</servlet-name>
        <servlet-class>controller.filterOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesLogout</servlet-name>
        <servlet-class>controller.SalesLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyOtpServlet</servlet-name>
        <servlet-class>controller.verifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboardlogout</servlet-name>
        <servlet-class>controller.Dashboardlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventory</servlet-name>
        <servlet-class>controller.Inventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventorylogout</servlet-name>
        <servlet-class>controller.Inventorylogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryUpdateServlet</servlet-name>
        <servlet-class>controller.InventoryUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryOrder</servlet-name>
        <servlet-class>controller.InventoryOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventorySearchOrder</servlet-name>
        <servlet-class>controller.InventorySearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryViewOrder</servlet-name>
        <servlet-class>controller.InventoryViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inventoryaddperfume</servlet-name>
        <servlet-class>controller.inventoryaddperfume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfumeHideServlet</servlet-name>
        <servlet-class>controller.PerfumeHideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staffsearchorder</servlet-name>
        <servlet-class>controller.Staffsearchorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staffstatuschange</servlet-name>
        <servlet-class>controller.Staffstatuschange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleManager</servlet-name>
        <servlet-class>controller.SaleManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotServlet</servlet-name>
        <servlet-class>controller.forgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>controller.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>controller.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stafflogout</servlet-name>
        <servlet-class>controller.Stafflogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importPerfume</servlet-name>
        <servlet-class>controller.importPerfume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyWarningServlet</servlet-name>
        <servlet-class>controller.verifyWarningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartCompleteServlet</servlet-name>
        <servlet-class>controller.cartCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayCheckoutServlet</servlet-name>
        <servlet-class>controller.VNPayCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailsServlet</servlet-name>
        <servlet-class>controller.orderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignStaff</servlet-name>
        <servlet-class>controller.AssignStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>StatisticServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/viewcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/searchproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchKeywordServlet</servlet-name>
        <url-pattern>/searchkeyword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDetailServlet</servlet-name>
        <url-pattern>/itemdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartDetailServlet</servlet-name>
        <url-pattern>/removecartdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFilterServlet</servlet-name>
        <url-pattern>/productfilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartDetailServlet</servlet-name>
        <url-pattern>/updatecartdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffServlet</servlet-name>
        <url-pattern>/createstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/deletestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromoteStaffServlet</servlet-name>
        <url-pattern>/promotestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchKeywordServlet</servlet-name>
        <url-pattern>/adminsearchkeyword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Saleupdateperfume</servlet-name>
        <servlet-class>controller.Saleupdateperfume</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminViewOrderServlet</servlet-name>
        <url-pattern>/Salesvieworder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePerfumeServlet</servlet-name>
        <url-pattern>/update_perfume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOrderStatusServlet</servlet-name>
        <url-pattern>/changeorderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrderServlet</servlet-name>
        <url-pattern>/removeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrder</servlet-name>
        <url-pattern>/searchorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPerfumeServlet</servlet-name>
        <url-pattern>/addperfume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrandServlet</servlet-name>
        <url-pattern>/addbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin2Servlet</servlet-name>
        <url-pattern>/Admin2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingDashboardServlet</servlet-name>
        <url-pattern>/Marketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackList</servlet-name>
        <url-pattern>/FeedBackList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetails</servlet-name>
        <url-pattern>/FeedbackDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogListServlet</servlet-name>
        <url-pattern>/blogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBlogServlet</servlet-name>
        <url-pattern>/addBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBlogServlet</servlet-name>
        <url-pattern>/updateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogDetailsServlet</servlet-name>
        <url-pattern>/blogDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hideBlogServlet</servlet-name>
        <url-pattern>/hideBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unhideBlogServlet</servlet-name>
        <url-pattern>/unhideBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBlogServlet</servlet-name>
        <url-pattern>/deleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerListServlet</servlet-name>
        <url-pattern>/customerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBlogServlet</servlet-name>
        <url-pattern>/searchBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postListServlet</servlet-name>
        <url-pattern>/postList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postDetailsServlet</servlet-name>
        <url-pattern>/postDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderInformationsServlet</servlet-name>
        <url-pattern>/orderInformations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerDetailsServlet</servlet-name>
        <url-pattern>/customerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCustomerServlet</servlet-name>
        <url-pattern>/updateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admindashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesDashboardServlet</servlet-name>
        <url-pattern>/SalesDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterOrderServlet</servlet-name>
        <url-pattern>/filterOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesLogout</servlet-name>
        <url-pattern>/SalesLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyOtpServlet</servlet-name>
        <url-pattern>/verifyOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboardlogout</servlet-name>
        <url-pattern>/dashboardlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/Inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventorylogout</servlet-name>
        <url-pattern>/inventorylogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryUpdateServlet</servlet-name>
        <url-pattern>/inventoryupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryOrder</servlet-name>
        <url-pattern>/inventoryorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventorySearchOrder</servlet-name>
        <url-pattern>/insearchorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryViewOrder</servlet-name>
        <url-pattern>/inventoryvieworder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventoryaddperfume</servlet-name>
        <url-pattern>/inventoryaddperfume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfumeHideServlet</servlet-name>
        <url-pattern>/hidePerfume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staffsearchorder</servlet-name>
        <url-pattern>/Staffsearchorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staffstatuschange</servlet-name>
        <url-pattern>/Staffstatuschange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleManager</servlet-name>
        <url-pattern>/Sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stafflogout</servlet-name>
        <url-pattern>/Stafflogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importPerfume</servlet-name>
        <url-pattern>/importPerfume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignStaff</servlet-name>
        <url-pattern>/Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyWarningServlet</servlet-name>
        <url-pattern>/verifyWarning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartCompleteServlet</servlet-name>
        <url-pattern>/cartComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailsServlet</servlet-name>
        <url-pattern>/orderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/statistic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
